<div>
  <section id="cards" style="margin-top:2rem">
    <div class="grid-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/ZGvrIcG.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h2 style="color: black">BROAGERLANDS LOKAL ARKIV GAME</h2>
              <h3 style="color: black">AN EDUCATIONAL EXPERIENCE</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/XFtdfxb.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color: black">GREAT OVERVIEW</h1>
              <h3 style="color: black">AND EASY TO MODIFY</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/GFUNqCs.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color: black">USERFRIENDLY INTERFACE</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-light" style="margin-top: 2rem">
    <div class="container">
      <h2 class="text-center text-uppercase" style="top: 2rem">About</h2>
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
            This site is used for educational use, where students connect to a quiz through a mobile application. To connect to the quiz
            you must enter a join code, and then wait for the administrator to start the game.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            This website is made by: Jozef Hollý, Lasse Nielsen, Morten Andersen & Sebastian Børløs.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
