html,
body {
  background-color: #fcad2d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20vh 60vh 20vh
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-row-start: 1;
}

.item2 {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}

.image {
  width: 80vw;
  height: 80vh;
  display: table-cell;
  vertical-align: top;
  text-align: center
}

.img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
