<style>
  .grid {
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    grid-template-rows: 20% 50% 10% 20%;
    text-align: center;
  }

  .item1 {

    grid-row-start: 2;
    grid-column-start: 2;

  }

  .item2 {
    
    grid-row-start: 2;
    grid-column-start: 4;



  }

  .item3 {
    grid-row-start: 2;
    grid-column-start: 3;

  }

</style>

<div class="grid" style="margin-top: 2rem">

  <div class="item1">
    <select id="mySelect" size="20" style="min-width: 100%; min-height: 100%;">
      <option>Apple</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
    </select>
  </div>

  <div class="item3">
    <button>>></button>
    <p></p>
    <button>
      <<</button>
  </div>

  <div class="item2">
    <select id="mySelect" size="20" style="min-width: 100%; min-height: 100%;">
      <option>Apple</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
    </select>
  </div>

</div>
