<div class="grid" style="margin-top: 2rem">

  <div class="item1">
    <select multiple="multiple" id="ListofQuestions" size="20" style="min-width: 100%; min-height: 100%;" class="form-control">
      <option>Apple</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
    </select>
  </div>

  <div class="item3">
    <input type="button" id="btnRight" value=">" class="btn btn-default" />
    <br />
    <p></p>
    <input type="button" id="btnLeft" value="<" class="btn btn-default" />
    <br />
  </div>

  <div class="item2">
    <select multiple="multiple" id="SelectedQuestions" size="20" style="min-width: 100%; min-height: 100%;" class="form-control">
      <option>Apple</option>
      <option>Pear</option>
      <option>Banana</option>
      <option>Orange</option>
    </select>
  </div>

  <div class="item4">
    <button class="button" ng-href="#">Save</button>
  </div>

  <div class="clearfix"></div>
