<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let questionnaire"> {{questionnaire.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let questionnaire"> {{questionnaire.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="questionlist">
      <mat-header-cell *matHeaderCellDef> Questions </mat-header-cell>
      <mat-cell *matCellDef="let questionnaire"> {{questionnaire.questionlist}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>