<html>

<body>
    <div class="grid-container">
    <div class="item1">
      <h1>
        <p>{{text.time}}</p>
      </h1>
      <h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis orci consequat, fringilla dolor at, tempor arcu.
          Cras ultricies vestibulum metus sed tristique. Morbi erat mi, hendrerit semper pharetra in, viverra at felis. Vestibulum
          sollicitudin risus quis lacus pretium porttitor. Donec vitae commodo sem. Fusce interdum, elit a vestibulum iaculis,
          dui lacus tempor ligula, id dignissim diam erat sit amet quam. Donec pharetra et arcu vel rutrum. In nunc urna,
          consequat eu nunc sit amet, iaculis imperdiet mauris. Duis id neque at arcu fringilla lacinia ac sed odio.</p>
      </h2>
    </div>
</div>
</body>

</html>
