<div class="card" style="margin: 10rem 35rem">
  <div class="card-header text-white bg-secondary">
    <h3 style="text-align: center; font-size: 3em">Score Board</h3>
  </div>
  <div class="scroll">
    <table class="table table-fixed">
      <tbody style="margin-top: 2rem">
        <tr  style="margin-top: 2rem; font-size: 2em">
          <td style="float: left; margin-left: 2rem">Hugh jass</td>
          <td style="float: right; margin-right: 2rem">5460</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-gamescreen [currentquestion]="_currentquestion"  [endtime]="_endTime"></app-gamescreen>

