

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.points}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="questionnaire">
      <mat-header-cell *matHeaderCellDef> Questionnaire </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.questionnaire.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.time}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.content}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="questiontype">
      <mat-header-cell *matHeaderCellDef> Questiontype </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.questiontype}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let text"> {{text.id}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>