<div class="card" style="margin: 1rem">
  <div class="card-header text-white bg-secondary">
    <h3>Questionnaire
      <a href="questionnaire/create" style="border-color: black" class="btn btn-success float-right">
        <i class="fa fa-fw fa-plus-circle"></i> Create New</a>
    </h3>
  </div>
  <div class="scroll">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of questionnaireExamples">
          <td>{{x.title}}</td>
          <td>
            <a asp-action="Edit" asp-route-id="#">
              <i class="fa fa-fw fa-edit"></i>
            </a> |
            <a asp-action="Details" asp-route-id="#">
              <i class="fa fa-fw fa-trash"></i>
            </a> |
            <a asp-action="Play" asp-route-id="#">
              <i class="fa fa-fw fa-play"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
