.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20vh 60vh 20vh
  }

  .item1 {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    justify-content: center;
    font-size: 300%;
  }

  .button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 40px 100px;
    max-width: 500px;
  }
